<form>
  <div class="columns is-mobile">
    <div class="column is-10">
      <div class="field">
        <h6>Search our site..</h6>
        <input class="input" name="search" placeholder="Search..." ng-model="search"/>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <h6>Order by</h6>
            <select ng-model="sort">Order by
              <option value="name">A - Z</option>
              <option value="-name">Z - A</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<hr />

<div class="columns is-multiline">
  <div class="column is-one-third-desktop is-half-tablet" ng-repeat="place in places | filter: search | orderBy: sort">

    <a ui-sref="placesShow({ id: place._id })">

      <bulma-card image="place.image" title="place.name" type="place.type" ></bulma-card>

    </a>


  </div>
</div>

<div ng-if="!isAuthenticated()">

  <h2>Please <a href="http://localhost:8000/login#!/login">sign in</a> or <a href="http://localhost:8000/login#!/register">register</a> to add your own Hidden Gem!</h2>

  <hr />

</div>
<footer class="footer">
  <div class="content has-text-centered">
    <p> Find Us on Social Media</p>
    <span class="icon has-text-info">
      <i class="fab fa-facebook-square"></i>
    </span>
    <span class="icon has-text-success">
      <i class="fab fa-spotify"></i>
    </span>
    <span class="icon has-text-warning">
      <i class="fab fa-snapchat-square"></i>
    </span>
    <span class="icon has-text-danger">
      <i class="fab fa-pinterest-square"></i>
    </span>
    <hr>
    <p>Copyright © 2018 by TBD
      All rights reserved. This site or any portion thereof
      may not be reproduced or used in any manner whatsoever
      without the express written permission of the publisher
      except for the use of brief quotations in a site review.</p>
    </div>
  </footer>
