<form>
  <div class="columns is-mobile">
    <div class="column is-10">
      <div class="field">
        <a>Search our site..</a>
        <input class="input" name="search" placeholder="Search..." ng-model="search"/>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <a>Order by</a>
            <select ng-model="sort">
              <option value="name">A - Z</option>
              <option value="-name">Z - A</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<hr />

<div class="columns is-multiline">
  <div class="column is-one-third-desktop is-half-tablet" ng-repeat="place in places | filter: search | orderBy: sort">

    <a ui-sref="placesShow({ id: place._id })">

      <bulma-card image="place.image" title="place.name" type="place.type"></bulma-card>

    </a>

  </div>
</div>
