<Maincontainer class="new">

<form ng-submit="createPlace()">
  <div class="field">
    <label class="label" for="name">Name</label>
    <input class="input" id="name" name="name" placeholder="Name" ng-model="data.name" />
  </div>
  <div class="field">
    <label class="label" for="image">Image</label>
    <button class="button is-primary is-outlined" id="image" name="image" file-picker ng-model="data.image">Choose file</button>
  </div>
  <img ng-src="{{ data.image }}" ng-if="data.image" />
  <div class="field">
    <label class="label" for="type">Type</label>
    <input class="input" id="type" name="type" placeholder="type" ng-model="data.type" />
  </div>
  <div class="field">
    <label class="label" for="price">Price</label>
    <input type="radio"  id="price" name="cheap" value="£" ng-model="data.price"> £<br>
    <input type="radio" id="price" name="mid" value="££" ng-model="data.price"> ££<br>
    <input type="radio" id="price" name="expensive" value="£££" ng-model="data.price"> £££
  </div>
  <div class="field">
    <label class="label" for="address">Address</label>
    <input class="input" id="address" name="address" placeholder="Address" ng-model="data.address" google-autocomplete update-location="updateLocation(location)" />
  </div>


  <button class="button is-primary is-outlined">Submit</button>

  <hr />

</Maincontainer>

  <footer class="footer">
    <div class="content has-text-centered">
      <p> Find Us on Social Media</p>
      <span class="icon has-text-info">
        <i class="fab fa-facebook-square"></i>
      </span>
      <span class="icon has-text-success">
        <i class="fab fa-spotify"></i>
      </span>
      <span class="icon has-text-warning">
        <i class="fab fa-snapchat-square"></i>
      </span>
      <span class="icon has-text-danger">
        <i class="fab fa-pinterest-square"></i>
      </span>
      <hr>
      <p>Copyright © 2018 by TBD
        All rights reserved. This site or any portion thereof
        may not be reproduced or used in any manner whatsoever
        without the express written permission of the publisher
        except for the use of brief quotations in a site review.</p>
      </div>
    </footer>

</form>
