<div class="columns">

  <div class="column">
    <bulma-card image="place.image" title="place.name + ' ' + '⭐️'.repeat(place.avgRating)" price="data.price"></bulma-card>

    <hr />

    <div ng-if="isAuthenticated()">
      <a ui-sref="placesEdit({ id: place._id })" class="button">Edit</a>
      <button class="button is-danger" ng-click="deletePlace()">Delete</button>

      <hr />

    </div>


    <h4 class="title is-4">Reviews</h4>
    <article class="media" ng-repeat="comment in place.comments">
      <div class="media-content">
        <div class="content">
          <strong>{{ comment.author.username }}</strong>
          <p>
            {{ comment.content }}
          </p>
          <small>{{ '⭐️'.repeat(comment.rating) }}</small>
          <p>{{ comment.votes.count }}</p>
        </div>

        <i title="Up Votes" ng-click="upVote(comment)" class="fa fa-arrow-circle-up fa-2x" ng-class="{true:'up', false:''}[vote=='up']"></i>
        <br>
        <i title="Down Votes" ng-click="downVote(comment)" class="fa fa-arrow-circle-down fa-2x"  ng-class="{true:'down', false:''}[vote=='down']"></i>
        <br>Votes: {{vote}}


        <hr />

        <form ng-submit="createComment()" ng-if="isAuthenticated()">
          <div class="field">
            <label class="label">Write a review</label>
            <textarea class="textarea" ng-model="data.content"></textarea>
          </div>

          <div class="field">
            <div class="control">
              <label class="label">Rating</label>
              <div class="select">
                <select ng-model="data.rating">
                  <option value="">Please select</option>
                  <option value="1">⭐️</option>
                  <option value="2">⭐️⭐️</option>
                  <option value="3">⭐️⭐️⭐️</option>
                  <option value="4">⭐️⭐️⭐️⭐️</option>
                  <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
                </select>
              </div>
            </div>
          </div>

          <button class="button is-info is-outlined">Submit</button>
        </form>
      </div>
    </article>
    <div class="column">
      <div google-map location="place.location"></div>

      <div class="notification is-info">
        <strong>{{forecast.summary}} ({{ forecast.temperature }}ºC)</strong>
      </div>
    </div>

  </div>
