<div class="columns">

  <div class="column">

    <bulma-card image="place.image" title="place.name + '  ' + '💎'.repeat(place.avgRating)"  type="place.type + ' ' + place.price"></bulma-card>
    <hr />

    <div ng-if="isAuthenticated()">
      <a ui-sref="placesEdit({ id: place._id })" class="button">Edit</a>
      <button class="button is-danger" ng-click="deletePlace()">Delete</button>
      <hr />
    </div>

    <div ng-if="!isAuthenticated()">

      <h2>Please <a href="http://localhost:8000/login#!/login">sign in</a> or <a href="http://localhost:8000/login#!/register">register</a> in to edit or delete this hidden 💎 Gem!</h2>
      <hr />
    </div>


    <h4 class="title is-4">Reviews</h4>
    <article class="media" ng-repeat="comment in place.comments">
      <div class="media-content">
        <div class="content">
          <p><strong>{{ comment.author.username }}</strong> wrote:</p>
          <p>
          <i>"{{ comment.content }}"</i>
            <div ng-if="isAuthenticated()">
              <button class="button is-danger" ng-click="deleteComment(comment)" style="margin-left:10px">Delete review</button>
            </div>
          </p>
          <label class="label">Rating</label>
          <small>{{ '💎'.repeat(comment.rating) }}</small>

        </div>
        <label class="label">Did you find this review helpful?</label>

        <section class="voting-buttons">
          <i title="Up Votes" ng-click="upVote(comment)" class="fa   fa-hand-o-up fa-2x" ng-class="{true:'up',   false:''}[vote=='up']"></i>
          <p class="vote-count">{{ comment.votes.count }}</p>
          <i title="Down Votes" ng-click="downVote(comment)" class="fa   fa-hand-o-down fa-2x"  ng-class="{true:'down',   false:''}[vote=='down']"></i>
        </section>

        <div class="field">
          <div class="control">
            <div class="select">

            </div>
          </div>

        <hr />

        </div>
      </article>

    <div ng-if="!isAuthenticated()">
      <h2>You must be <a href="http://localhost:8000/login#!/login">signed in</a> to review <strong>{{ place.name }}💎!</strong></h2>
    </div>
      <form ng-submit="createComment()" ng-if="isAuthenticated()">
        <div class="field">
          <label class="label">Write a review</label>
          <textarea class="textarea" ng-model="data.content"></textarea>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">Rating</label>
            <div class="select">
              <select ng-model="data.rating">
                <option value="">Please select</option>
                <option value="1">💎</option>
                <option value="2">💎💎</option>
                <option value="3">💎💎💎</option>
                <option value="4">💎💎💎💎</option>
                <option value="5">💎💎💎💎💎</option>
              </select>

              <button class="button is-info is-outlined" style="margin-top:10px;margin-bottom:10px;">Submit</button>
              <br>

            </form>
          </div>
          <div class="column">
            <br>
            <hr />
            <div google-map location="place.location"></div>

            <div class="notification is-info">
              <strong>{{forecast.summary}} ({{ forecast.temperature }}ºC)</strong>
            </div>
          </div>

        </div>
      </div>
      <footer class="footer">
        <div class="content has-text-centered">
          <p> Find Us on Social Media</p>
          <span class="icon has-text-info">
            <i class="fab fa-facebook-square"></i>
          </span>
          <span class="icon has-text-success">
            <i class="fab fa-spotify"></i>
          </span>
          <span class="icon has-text-warning">
            <i class="fab fa-snapchat-square"></i>
          </span>
          <span class="icon has-text-danger">
            <i class="fab fa-pinterest-square"></i>
          </span>
          <hr>
          <p>Copyright © 2018 by TBD
            All rights reserved. This site or any portion thereof
            may not be reproduced or used in any manner whatsoever
            without the express written permission of the publisher
            except for the use of brief quotations in a site review.</p>
          </div>
        </footer>
    </div>
