<section class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      Hidden 💎
      </h1>
      <h2 class="subtitle">
        All the places, don't be shy...
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title is-2">Search our places</h2>
    <form ng-submit="searchPlaces()">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input" name="search" placeholder="Search..." ng-model="query"/>
        </div>
        <div class="control">
          <button class="button">Go</button>
        </div>
      </div>
    </form>
  </div>
</section>
