  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-dark">
            <p class="title">{{ currentUser.username }}'s Profile</p>
            <p class="subtitle">Welcome to my Profile</p>

          </article>
          <article class="tile is-child notification is-dark">
            <p class="title">Comment Score</p>
            <p class="subtitle">{{ currentUser.username }}'s Up & Down   votes</p>
            <i class="fas fa-smile"></i>
            <progress class="progress is-success" value="68"   max="100">68%</progress>
            <i class="fas fa-frown"></i>
            <progress class="progress is-danger" value="21"   max="100">21%</progress>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-dark">
            <p class="title">This is me!</p>
            <hr>
            <p class="subtitle"></p>
            <div class="field">
              <button class="button is-info" id="image" name="image"   file-picker ng-model="data.image">Choose a profile   pic!</button>
            </div>
            <figure class="image is-4by3">
              <img src="data.image">
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-dark">
          <p class="title">Check out my Hidden 💎 Gems!</p>
          <hr>
          <p class="subtitle">Please leave a comment if you have been to   them!</p>
          <div class="content">
            <div class="column">
              <div google-map location="place.location"></div>

              <div class="notification is-info">
                <strong>{{forecast.summary}} ({{ forecast.temperature   }}ºC)</strong>
              </div>
            </div>

            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-dark">
        <div class="content">
          <p class="title">A little bit about me..</p>
          <hr>
          <p class="subtitle"> </p>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,   sed do eiusmod tempor incididunt ut labore et dolore magna   aliqua. Ut enim ad minim veniam, quis nostrud exercitation   ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis   aute irure dolor in reprehenderit in voluptate velit esse   cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat   cupidatat non proident, sunt in culpa qui officia deserunt   mollit anim id est laborum.</p>
          </div>
        </div>
      </article>
    </div>
  </div>
<footer class="footer">
  <div class="content has-text-centered">
    <p> Find Us on Social Media</p>
    <span class="icon has-text-info">
      <i class="fab fa-facebook-square"></i>
    </span>
    <span class="icon has-text-success">
      <i class="fab fa-spotify"></i>
    </span>
    <span class="icon has-text-warning">
      <i class="fab fa-snapchat-square"></i>
    </span>
    <span class="icon has-text-danger">
      <i class="fab fa-pinterest-square"></i>
    </span>
    <hr>
    <p>Copyright © 2018 by TBD
      All rights reserved. This site or any portion thereof
      may not be reproduced or used in any manner whatsoever
      without the express written permission of the publisher
      except for the use of brief quotations in a site review.</p>
    </div>
  </footer>
