body {
  background: linear-gradient(to bottom, #355c7d, #6c5b7b, #c06c84, #f67280, #f8b195);
}

.navbar-menu {
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84, #f67280, #f8b195);
}

.navbar-brand {
  background: #355c7d;
}

.navbar-item {
  color: white;
}

.navbar-burger {
  color: white;
}

.textarea {
  background: #f0ead6;
}

.footer {
  background: #f0ead6;
  position: bottom;
}

.card {
  border-radius: 15px;
  background: #f0ead6;
}

.input {
  background: #f0ead6;
}


.index {
  img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    zoom: 1;
  }
}

* {
font-family: 'Quicksand', sans-serif;
}

.map {
  height: 500px;
}

.notification.is-flash {
  height: 0;
  opacity: 0;
  transition: all 1s;

  &.is-active {
    height: 65px;
    opacity: 1;
  }
}

.fa-hand-o-up {
  color: green;
}

.fa-hand-o-down {
  color: red;
}

.vote-count {
  padding-left: 8px;
}

div.hero-body {
  background-image: url('https://farm5.staticflickr.com/4759/39952554431_e872ce68b1_h.jpg');
  background-position: center;
}

  .Maincontainer {
    background-color: rgba(0,0,0,0.5);

}

footer.footer {
  color: black;
}
