<form ng-submit="handleSubmit()">
  <div class="field">
    <label class="label" for="email">Email</label>
    <input class="input" name="email" id="email" placeholder="Email" ng-model="data.email" />
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <input class="input" type="password" name="password" id="password" placeholder="Password" ng-model="data.password" />
  </div>

  <button class="button">Submit</button>
</form>

<img src="https://imgc.allpostersimages.com/img/print/posters/summer-thornton-london-skyline_a-G-10719584-0.jpg?w=895&h=670" alt="fox-neon" width= 400px height 200px>
